<div class="msg_out">
    <div class="msg">
        <div>
            <div>
                <div style="display: block;" class="msgSpan">
                    <span>{{msgData.m}}</span>
                </div>
                <div class="info">
                    <span>{{msgSer.normalTime(msgData.t)}}</span>
                    <ng-template [ngIf]="!sendBoolean">
                        <mat-icon fontSet="material-icons-round">schedule</mat-icon>
                    </ng-template>
                    <ng-template [ngIf]="sendBoolean">
                        <mat-icon fontSet="material-icons-round">done</mat-icon>
                    </ng-template>
                    <ng-template [ngIf]="msgData.s.sts == 'delivered'">
                        <mat-icon fontSet="material-icons-round">done_all</mat-icon>
                    </ng-template>
                    <ng-template [ngIf]="msgData.s.sts == 'seen'">
                        <mat-icon style="color: rgb(138, 172, 247);" fontSet="material-icons-round">done_all</mat-icon>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>