<div class="parent_block">
  <div *ngFor="let chats of friend;index as i;">
    <div class="friends" (click)="Fa26gsa(chats)">
      <div>
        <div class="image">
          <img [src]="(chats.imgUrl == null)?'assets/app/home/astronaut.png':chats.imgUrl"
            [alt]="chats.name+ '_image'">
        </div>
        <div class="nameD">
          <div class="name">{{chats.name}}</div>
          <div class="lastMsgUreadMsgBlock_parent">
            <div class="last_Msg">{{chats.lastMsg}}</div>
            <div class="badge">{{timeReturn(chats.time)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>