<div class="parent_block">
  <div *ngFor="let chats of friend;index as i;">
    <div class="image"><img [src]="chats.imgUrl" [alt]="chats.name+ '_image'"></div>
    <div class="name">{{chats.name}}</div>
    <div class="lastMsgUreadMsgBlock_parent">
      <div class="last_Msg"></div>
      <div class="badge"></div>
    </div>
    <app-message-ui [chatID]='chatID(uid,chats.uid)'></app-message-ui>
  </div>
</div>
<!--
from let friend of friends we will take the element friend[0]
and then the corresponding userid is found by return fn and
then my uid and the returned uid is appended ascending order and
it then points to the msg db.
 -->
