<ng-template [ngIf]="!this.mLoadingEnded">
<div class="flexContianer">
    <div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
</ng-template>
<ng-template [ngIf]="this.mLoadingEnded">
<div class="parent_Message">
        <div class="top">
            <div class="name"><span></span></div>
            <div class="pic">
                <!-- <img [alt]="userImage" [src]="this.url" width="50px" height="50px" class="pic_image"> -->
            </div>
        </div>
        <div class="flexContainer">
            <div class="messages_area">
                <div class="scrollArea">
                    <ng-template let-messages [ngForOf]="timeLineOfMessages" ngFor>
                        <ng-template [ngIf]="inOut(messages.s.o.I)">
                            <out-going-msg [msgData]="messages"></out-going-msg>
                        </ng-template>
                        <ng-template [ngIf]="!inOut(messages.s.o.I)">
                            <incomming-msg [msgData]="messages"></incomming-msg>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
            <div class="message_input">
                <div class="padding">
                    <mat-form-field [style.width.px]=450 appearance="outline">
                        <mat-label>Message</mat-label>
                        <label>
                            <textarea [(ngModel)]="msgToSend" matAutosizeMaxRows=6 matAutosizeMinRows=1 matInput
                                matTextareaAutosize name="message" type="text" #msgIn>
                           </textarea>
                        </label>
                    </mat-form-field>
                    <div style="padding-bottom: 20px;">
                        <button mat-icon-button matSuffix (click)="msg(msgIn.value)" matTooltip='ctrl + enter'>
                            <mat-icon fontSet="material-icons-round">send</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>
</ng-template>