<ng-template [ngIf]="(this.msgService.thisUserIdentifier==undefined)">
    <div style="height: 93vh;display: flex;justify-content: center;align-items: center;">
        <span>
            <h1>Tap on a chat.</h1>
        </span>
    </div>
</ng-template>
<ng-template [ngIf]="!(this.msgService.thisUserIdentifier==undefined)">
    <div class="parent_Message">
        <div class="top">
            <div class="name"><span>{{this.msgService.endUser.name}}</span></div>
            <div class="pic">
                <!-- <img [alt]="userImage" [src]="this.url" width="50px" height="50px" class="pic_image"> -->
            </div>
        </div>
        <div class="flexContainer">
            <div class="messages_area">
                <div class="scrollArea" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <ng-template let-messages [ngForOf]="this.msgService.timeLineOfMessages" ngFor>
                        <ng-template [ngIf]="this.msgService.inOut(messages.s.I)">
                            <out-going-msg [msgData]="messages"[enduserid]='msgService.endUser.uid'></out-going-msg>
                        </ng-template>
                        <ng-template [ngIf]="!this.msgService.inOut(messages.s.I)">
                            <incomming-msg [msgData]="messages"></incomming-msg>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
            <div class="message_input">
                <div class="padding">
                    <mat-form-field [style.width.%]=100 appearance="outline">
                        <mat-label>Message</mat-label>
                        <label>
                            <textarea [(ngModel)]="this.msgService.msgToSend" matAutosizeMaxRows=6 matAutosizeMinRows=1
                                matInput matTextareaAutosize name="message" type="text" #msgIn>
                           </textarea>
                        </label>
                    </mat-form-field>
                    <div style="padding-bottom: 20px; display: flex; align-items: center; height: 64px;">
                        <button mat-icon-button matSuffix (click)="this.sendMsg(msgIn.value)" matTooltip='Enter'>
                            <mat-icon fontSet="material-icons-round">send</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>