.msg_in {
    float: left;
    width: 70%;
}
.msg {
    padding: 4px;
    background-color: transparent;
}
.msg>span {
    overflow-y: scroll;
}

.font_sml {
    padding: 3px;
    padding-left: 0;
    font-size: x-small;
}