.parent_MessagesModule {
    width: 100vw;
    height: 100vh;
    background: white;
}

.parent_MessagesModule>div {
    padding: 20px;
    display: block;
}

.messagesList {
    height: 100%;
    width: 30%;
    padding: 10px;
    max-height: 86vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    float: left;
    background-color: whitesmoke;
}

.messagesBox {
    height: 100%;
    width: 68%;
    padding: 10px;
    float: right;
    background-color: rgb(216, 221, 226);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-button {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
}