<ng-template [ngIf]='!dbLoad'>
    <div class="fullWidth">
        <div>
            <mat-progress-bar mode='indeterminate'></mat-progress-bar>
        </div>
    </div>
</ng-template>
<ng-template [ngIf]='dbLoad'>
    <div class="parent">
        <div class="photoName">
            <img [src]="userDETAILS.imgUrl">
            <span>{{userDETAILS.name}}</span>
        </div>
        <div class="addFrnd">
            <!-- <button mat-icon-button (click)='req()'>
                <ng-template [ngIf]='!reqSend'>
                    <mat-icon fontSet="material-icons-round">add</mat-icon>
                </ng-template>
                <ng-template [ngIf]='reqSend'>
                    <mat-icon fontSet="material-icons-round">done</mat-icon>
                </ng-template>
            </button> -->
        </div>
        <button mat-button (click)="sendMsg()">Message</button>
    </div>
</ng-template>