.icon_notification, .icon_messages, .heicsa {
  color: #fff;
}

.Little_padding {
  padding: 5px;
}

.top, .acc_menu>div, .top_div {
  display: flex;
  justify-content: space-between;
}

.top_div {
  width: 50%;
  align-items: center;
}

.acc_menu {
  max-width: 30%;
  display: flex;
  justify-content: flex-end;
}

.acc_menu>div {
  align-items: center;
}

.acc_menu>div>* {
  margin: 10px;
}

.Little_padding>img {
  border-radius: 100%;
  transform: scale(110%);
}

.down, .notfications, .newPost {
  background: whitesmoke;
  border-radius: 50%;
}

.top {
  padding: 10px;
}

.heicsa {
  font-size: 35px;
  font-weight: bold;
  color: rgb(218, 226, 233);
}

.search_bar {
  margin-right: 10%;
  width: 100%;
}

.menu_container {
  position: absolute;
  top: 103.5px;
  right: 5px;
  max-height: 500px;
  width: 350px;
  background-color: whitesmoke;
  border-radius: 10px;
}

img {
  width: 50px;
  height: 50px;
}

.Loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 255, 255);
}

.bouncer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100px;
  height: 50px;
}

.bouncer div {
  width: 15px;
  height: 15px;
  background: #0000ff;
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(.19, .57, .3, .98) infinite alternate;
}

.bouncer div:nth-child(2) {
  animation-delay: 0.1s;
}

.bouncer div:nth-child(3) {
  animation-delay: 0.2s;
}

.bouncer div:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes bouncer {
  from {
    transform: translateY(0)
  }
  to {
    transform: translateY(-40px)
  }
}
.messages{
  position: absolute;
  bottom: 50px;
  right: 50px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey !important;
  /*opacity: 1!important;*/
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: royalblue !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: royalblue !important;
  opacity: 0.8 !important;
}

::ng-deep .mat-form-field-label {
  color: rgba(0, 0, 0, .6) !important;
  /*color: $mainColor!important;*/
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: royalblue !important;
}
